In [6]:
# !ls /opt/disk/
# !cp -r /opt/disk/ ./
# !mv disk data

In [1]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt
import seaborn as sns

data_dir = './data/'

# Справочники

## Участники оборота

In [2]:
members_df = pd.read_csv('data/Справочник участников оборота товаров.csv')
members_df.head()

                                inn  region_code
0  60DFB6F87ABF6232A5D97A1A827F8D88            1
1  2D13C279C7CEC509D21695F0268ECCEA            1
2  1705C73792D7A1A5ABDF1883FE851004            1
3  B4CC35BD7D8F69E665160F548EBE125D           23
4  2DB318BEA4A44280FA488A0B2AF36254            1

In [5]:
members_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23472 entries, 0 to 23471
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   inn          23472 non-null  object
 1   region_code  23472 non-null  int64
dtypes: int64(1), object(1)
memory usage: 366.9+ KB

In [7]:
members_df['region_code'].unique().size

87

## Точки

In [3]:
points_df = pd.read_csv('data/Справочник торговых точек.csv')
points_df.head()

,id_sp_,inn,region_code,city_with_type,city_fias_id,postal_code
0,C72AC534DBF5E6369840FFE9DA9FF403,0056F9FCFA009E493BEFEAE4FAA71D82,51,NaN,NaN,184421.0
1,591942644AE25AE4DD26CF943BB97414,81AAC456284F455FC2B141E6E8F1A76C,66,г Екатеринбург,2763c110-cb8b-416a-9dac-ad28a55b4402,620027.0
2,A6E2261F16F84FF09E2B615EDB008943,87C2FDB73C26C96266A0947C2BB714BF,62,г Рязань,86e5bae4-ef58-4031-b34f-5e9ff914cd55,390026.0
3,DC3B647A089FA064DE61E0C778F5EE45,87C2FDB73C26C96266A0947C2BB714BF,62,г Рязань,86e5bae4-ef58-4031-b34f-5e9ff914cd55,390017.0
4,D2F125BAA947B6293CD055DA1DEEA87D,87C2FDB73C26C96266A0947C2BB714BF,62,г Рыбное,91d71d8c-2f1a-43c8-bc84-d78dc4245a1b,391112.0

In [18]:
points_df.loc[points_df['region_code'] == 77, 'city_with_type'] = "Москва"
points_df.loc[points_df['region_code'] == 50, 'city_with_type'] = "Мо"
points_df.loc[points_df['region_code'] == 78, 'city_with_type'] = "Спб"
points_df['postal_code'] = points_df['postal_code'].fillna(0).astype(int)

In [18]:
points_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58401 entries, 0 to 58400
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_sp_          58401 non-null  object
 1   inn             58401 non-null  object
 2   region_code     58401 non-null  int64
 3   city_with_type  39625 non-null  object
 4   city_fias_id    39625 non-null  object
 5   postal_code     58365 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.7+ MB

In [20]:
points_df['inn'].unique().size

13747

In [12]:
points_df['region_code'].value_counts().head(20)

77    5605
50    4174
78    2624
23    2159
66    1818
61    1393
16    1297
52    1288
63    1235
59    1214
54    1167
74    1151
2     1138
42    1137
24    1107
22    1093
36    1012
26     888
38     885
47     864
Name: region_code, dtype: int64

Самые крупные регионы без города? Мск мос область и спб?

In [17]:
points_df.query('region_code == 77')

,id_sp_,inn,region_code,city_with_type,city_fias_id,postal_code
19,CD64F7E795A27115073E0029E31471A4,0056F9FCFA009E493BEFEAE4FAA71D82,77,NaN,NaN,121614.0
23,4D74ED316E9695C0A3C6B57BCF25D6EB,4BEAC3BF4F964E21BE3DD50A98A9D705,77,NaN,NaN,115280.0
32,59D6ADA0DEC23C22632D1A3952DFD9F9,EA5DD2C8886ADFF75F7BE25BED2320E0,77,NaN,NaN,127273.0
47,FF9BBE47D0D9D21F89A04CEEDE421769,E8A728F271FA7D0AF44F56128EB3C871,77,NaN,NaN,109316.0
48,0B66F6FBECAFFB62AA6C70DC9A5E2994,6B8E111AB5B5C556C0AEA292ACA4D88B,77,NaN,NaN,111622.0
...,...,...,...,...,...,...
58382,5FF7357071F05DA8B389200124500996,D6093309EAAE740CEE8D8B007A2346B0,77,NaN,NaN,125315.0
58388,4A4507843CB38BFC5807A34A3CB0478D,DADC03D590B60BBFFEAF69450A216613,77,NaN,NaN,127572.0
58391,DB2B5C7E89663D37B4C506C3B0AD9B58,DADC03D590B60BBFFEAF69450A216613,77,NaN,NaN,129347.0
58393,AAA39C7BC65FEFEB1CA329BB3E7F96DB,DADC03D590B60BBFFEAF69450A216613,77,NaN,NaN,115191.0
58400,E6A89B2F1068475E7DE4CA651563AD9F,118367830B924F8C0D92C232C8834EEB,77,NaN,NaN,109012.0

In [13]:
points_df['city_with_type'].value_counts().head(20)

г Екатеринбург       735
г Новосибирск        721
г Краснодар          646
г Омск               623
г Казань             579
г Воронеж            568
г Пермь              556
г Самара             554
г Нижний Новгород    534
г Ростов-на-Дону     523
г Красноярск         509
г Челябинск          493
г Тюмень             463
г Волгоград          442
г Уфа                416
г Саратов            388
г Барнаул            317
г Ярославль          317
г Томск              308
г Иркутск            308
Name: city_with_type, dtype: int64

In [10]:
points_df['postal_code'].unique().size

12422

In [ ]:
points_df.groupby(['region_code']).count

In [47]:
points_df.query("postal_code > 644000 and postal_code < 645000")

,id_sp_,inn,region_code,city_with_type,city_fias_id,postal_code
80,CF48A204E834741CDD0341A4EC5E817C,89F1BFD156A04E3D9B28C7FD6BED4F2F,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644083
98,EFB1A3DC4B5B5A6D99F4793D889F6D5C,EC48A4C96287D06DB9DB4F3E08498202,55,NaN,NaN,644527
366,70042A986CDC6CA3D9818363DBEE8B6A,CE411DE9494F17FC63CDEC73D7CB7A5D,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644022
729,44EF61711FD55ACC27AC2A767C655355,6B8E111AB5B5C556C0AEA292ACA4D88B,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644024
1145,A0E97994EB8F196616C70DCC08A4F812,6DE2782CFA8E5773C03FEE26362BF255,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644024
...,...,...,...,...,...,...
57770,7433BA400FEBDE60DBCE96B39A1B309B,A3E0FDAA257DBD27EBD365EC9966C89B,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644010
57779,64626154E69B26DB7958A348EFD10F1C,397ACA97DB232542926D17E83491CD67,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644119
57799,CAF65CD5F0BB0451726F92048BF6A26B,6E19573FB1BD16B06333FC38AE2D4D51,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644082
58068,0326E1B32BFFBEC0CFFD13658D4BF2C4,CE411DE9494F17FC63CDEC73D7CB7A5D,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644117
58106,1C5BC087958BB5F15F04F24FF2A62935,3C2DED6F9BD3853EE6291FF9D3E3AF2C,55,г Омск,140e31da-27bf-4519-9ea0-6185d681d44e,644058

## Продукция

In [4]:
products_df = pd.read_csv('data/Справочник продукции.csv')
products_df.head()

,gtin,inn,product_name,product_short_name,tnved,tnved10,brand,country,volume
0,8C414C7757D587886C10DB0CCEA641A2,D0B1FE981FCC19F934C3FFD91690430F,68F60FA530914522B26E25F262EBC6D6,9199AB529CF62D4BDB7E8B1D7459001D,6D2580183CEF6C8AF1CC72E1C6E6FBC4,58A4B52373651DA4292AD5725D388F8A,D2D1641B196DA5477D40C0907FD5F1DA,NaN,10
1,3D8C701836C4C0A5B33D57522A7EDBAB,9B0AFDA27FCCB188768FA9B611183387,670017E2D871B8962E5456CA71F6A1D1,9199AB529CF62D4BDB7E8B1D7459001D,6D2580183CEF6C8AF1CC72E1C6E6FBC4,58A4B52373651DA4292AD5725D388F8A,670017E2D871B8962E5456CA71F6A1D1,NaN,НЕ КЛАССИФИЦИРОВАНО
2,B1308C75C38993B0EEA22C8FE2899C2A,86CAE1EAD8AF200ED46453FD18FA1A04,97181A85E3400C38AB223F17A5DCCFCC,9199AB529CF62D4BDB7E8B1D7459001D,6D2580183CEF6C8AF1CC72E1C6E6FBC4,FAEA36DABA0E46CD081A7FA49DAD8FE0,ABB51261177B26E23AC2DE0F0508D6AB,NaN,100
3,1D71E57CA201A8ACEADBAA8D6E7039DE,86CAE1EAD8AF200ED46453FD18FA1A04,EA5CEDF8FA0F5BEBD2F047151B2DBE86,B8AF2335E04E7BAD5168D9B39FABAC21,6D2580183CEF6C8AF1CC72E1C6E6FBC4,FAEA36DABA0E46CD081A7FA49DAD8FE0,EDFFD44E0EC18764685E952553560EEF,NaN,100
4,5DEF4AA62907D322F85FA88839F00E8F,86CAE1EAD8AF200ED46453FD18FA1A04,75AF532015CFA92F71FF54ADEDB9BEA3,9199AB529CF62D4BDB7E8B1D7459001D,6D2580183CEF6C8AF1CC72E1C6E6FBC4,FAEA36DABA0E46CD081A7FA49DAD8FE0,75AF532015CFA92F71FF54ADEDB9BEA3,NaN,50

In [21]:
products_df['country'] = products_df['country'].fillna('0')

In [22]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393467 entries, 0 to 393466
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   gtin                393467 non-null  object
 1   inn                 393467 non-null  object
 2   product_name        393467 non-null  object
 3   product_short_name  393467 non-null  object
 4   tnved               393467 non-null  object
 5   tnved10             393467 non-null  object
 6   brand               393467 non-null  object
 7   country             71651 non-null   object
 8   volume              310281 non-null  object
dtypes: object(9)
memory usage: 27.0+ MB

In [24]:
products_df['volume'].value_counts() # Заявленный вес единицы товара

100                    86572
50                     73083
30                     38130
75                     12099
НЕ КЛАССИФИЦИРОВАНО    11039
                       ...
7.00                       1
от 25 до 120               1
159                        1
30-50                      1
10-80                      1
Name: volume, Length: 910, dtype: int64

In [26]:
products_df['country'].value_counts().head(10) #

ФРАНЦИЯ                          23424
РОССИЯ                           14719
ТУРЦИЯ                            7735
ИТАЛИЯ                            6576
ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ     3588
БЕЛАРУСЬ                          3291
ИСПАНИЯ                           2697
СОЕДИНЕННОЕ КОРОЛЕВСТВО           2072
СОЕДИНЕННЫЕ ШТАТЫ                 1737
ГЕРМАНИЯ                          1311
Name: country, dtype: int64

In [191]:
products_df['country'].fillna('0').value_counts().head(5)

0          321816
ФРАНЦИЯ     23424
РОССИЯ      14719
ТУРЦИЯ       7735
ИТАЛИЯ       6576
Name: country, dtype: int64

In [192]:
products_df['brand'].fillna('0').value_counts().head(5) #

E0BB3FD2DEA30ACD6C89416BD2F0F972    46489
09658A8FFA21FBE74DE98D86852987AD     5708
D80A3EE8FCAC8471AD0D19E79C97761B     5198
75AF532015CFA92F71FF54ADEDB9BEA3     4837
EDFFD44E0EC18764685E952553560EEF     4694
Name: brand, dtype: int64

In [27]:
products_df['brand'].value_counts() #

E0BB3FD2DEA30ACD6C89416BD2F0F972    46489
09658A8FFA21FBE74DE98D86852987AD     5708
D80A3EE8FCAC8471AD0D19E79C97761B     5198
75AF532015CFA92F71FF54ADEDB9BEA3     4837
EDFFD44E0EC18764685E952553560EEF     4694
                                    ...
030A12B5E78003D1D33CB30FF134B5F1        1
3449C9D948FD5E65070715BDEAE15D8E        1
8D4F0C300F629F3E18549D031B131CE4        1
BC027D741B53CCE6C088CD707667FF79        1
24E59B887F32899C85400FB2E6585621        1
Name: brand, Length: 12644, dtype: int64

In [28]:
products_df['tnved10'].value_counts()

FAEA36DABA0E46CD081A7FA49DAD8FE0    318266
58A4B52373651DA4292AD5725D388F8A     68270
9F7293E9B9C4AEC1FEC02CF457F72E93      4120
8CBBAC613BBC71178D19D901C4FF8F22       590
DB208476C3C890F6A24E6BEAE2348127       451
                                     ...
3D20E7B862BB68D09A7543605CAC2A45         1
E3CBBD462BE70E29BDED2BD6EAF05D51         1
0A017FB4A97EE9696D13925EC61AD127         1
340FDF06310A19BAB09EBAFCEBEB661D         1
77AB7DE26F594DC81C48795B28C03BC8         1
Name: tnved10, Length: 220, dtype: int64

In [29]:
products_df['tnved'].value_counts()

6D2580183CEF6C8AF1CC72E1C6E6FBC4    393467
Name: tnved, dtype: int64

In [30]:
products_df['product_short_name'].value_counts()

9199AB529CF62D4BDB7E8B1D7459001D    141044
B8AF2335E04E7BAD5168D9B39FABAC21    136013
9F7293E9B9C4AEC1FEC02CF457F72E93     63060
2868B842B46F754C088D89E130F89585     37276
C6AD4B84092CCBB3E3729F73B00C55A1      6741
                                     ...
6ACF8F36A7F3D9AAC95D59046AE62727         1
24350563F957CC980BE96184E6E551BE         1
1A31E7D277720BD89C535C4917D61FDC         1
A633C47F268B45D17F33FEADBEBFFD48         1
BCDAB7193FE530D5CA0EB7F7A177E0AC         1
Name: product_short_name, Length: 137, dtype: int64

In [31]:
products_df['product_name'].value_counts()

B8AF2335E04E7BAD5168D9B39FABAC21    2551
2868B842B46F754C088D89E130F89585    1409
9199AB529CF62D4BDB7E8B1D7459001D     779
79F6035BC01CE95BE31AF1D533763852     744
6C9AEEE99F6F675CCE8A6A126EB0D83A     425
                                    ...
5BA6BA35413C39012A91FFCBE2CC7DAD       1
C87AAD3CDCF9D452153AAD85A5245690       1
6898473449394034C4680D2E74F1A739       1
7A9473D6C6BC4F9DE89A212758EF8BAC       1
99B46FBA9D2569F172625204EA75D7ED       1
Name: product_name, Length: 288180, dtype: int64

In [32]:
products_df['inn'].value_counts()

8630E3AAA57E1BE56637A05FADAC931E    9246
25977F1E02F92D2B5AB3605B196C7ACB    5907
6B8E111AB5B5C556C0AEA292ACA4D88B    5206
CD2480BB07FCE7AB6AC3606F454C3B1D    4389
B852894F1DA22468C9496B6743B4AE93    4167
                                    ...
9692B11980FB76CD90ECD0488A1018F1       1
39505538C11E1DDDF34B2CA29F065FB1       1
3E4DA8C50B6A4E41D93AEA8128B8E004       1
2A92732977206FCF8FBFC18B5B71CB34       1
8E47B5C96EBE2F66D273448551FDA57B       1
Name: inn, Length: 4572, dtype: int64

In [33]:
products_df['gtin'].value_counts()

33C9D09F71D3A4E5BD6085AB192C95AB    151
22C09928304E360B5B4336B34659A9ED     36
845F8A6545F472FC35755286C938BACE     33
EA736CB547E51F242DF060D7E5DDE3C4     32
7281136266A60B8BB097E57F2E357C99     30
                                   ...
881DFF3D94248B6B831C4A3789ADA763      1
82F11359933D7EC5ACEE9EA9A29202D1      1
C740DEFC0D7FD3982434B0CEB50B61FD      1
14355250039517F5B138A763A45C16BC      1
C5B0FEC1CDD8A55C3B40B8289BDCFD9E      1
Name: gtin, Length: 342736, dtype: int64

In [37]:
products_df.groupby(['country', 'product_short_name']).count().head(30)

                                            gtin   inn  product_name  tnved  \
country   product_short_name
АВСТРАЛИЯ 2868B842B46F754C088D89E130F89585    12    12            12     12
АНГИЛЬЯ   9199AB529CF62D4BDB7E8B1D7459001D     2     2             2      2
          B8AF2335E04E7BAD5168D9B39FABAC21     2     2             2      2
АРМЕНИЯ   2868B842B46F754C088D89E130F89585     2     2             2      2
БАХРЕЙН   2868B842B46F754C088D89E130F89585    19    19            19     19
          42F04CB526338F1170B0A905EF97F451     2     2             2      2
          670017E2D871B8962E5456CA71F6A1D1     7     7             7      7
          9199AB529CF62D4BDB7E8B1D7459001D    45    45            45     45
          B8AF2335E04E7BAD5168D9B39FABAC21    42    42            42     42
БЕЛАРУСЬ  2055BD76EC29C8B623E402241A862E85     2     2             2      2
          2868B842B46F754C088D89E130F89585  2449  2449          2449   2449
          2C60971C030C7E2F66E9242855B65014     3     3             3      3
          30B1F638C078A06C0813DD3E9C878F0E     3     3             3      3
          4E147573030A5A96278A19A54C6F9319    22    22            22     22
          6C9AEEE99F6F675CCE8A6A126EB0D83A    36    36            36     36
          9199AB529CF62D4BDB7E8B1D7459001D   661   661           661    661
          A7078795180A2A28687DA2A1E8BACB92     1     1             1      1
          B8AF2335E04E7BAD5168D9B39FABAC21   105   105           105    105
          C6AD4B84092CCBB3E3729F73B00C55A1     8     8             8      8
          C740053B0E82D87BB64A24772B4AA438     1     1             1      1
БЕЛЬГИЯ   2868B842B46F754C088D89E130F89585     2     2             2      2
          670017E2D871B8962E5456CA71F6A1D1     1     1             1      1
          9199AB529CF62D4BDB7E8B1D7459001D     5     5             5      5
          B8AF2335E04E7BAD5168D9B39FABAC21     4     4             4      4
БОЛГАРИЯ  2868B842B46F754C088D89E130F89585     8     8             8      8
          9199AB529CF62D4BDB7E8B1D7459001D   297   297           297    297
ГЕРМАНИЯ  2868B842B46F754C088D89E130F89585    58    58            58     58
          42F04CB526338F1170B0A905EF97F451     1     1             1      1
          670017E2D871B8962E5456CA71F6A1D1     4     4             4      4
          75E0EAF2E5062A080CA0FDBBB8140627    21    21            21     21

                                            tnved10  brand  volume
country   product_short_name
АВСТРАЛИЯ 2868B842B46F754C088D89E130F89585       12     12      12
АНГИЛЬЯ   9199AB529CF62D4BDB7E8B1D7459001D        2      2       2
          B8AF2335E04E7BAD5168D9B39FABAC21        2      2       2
АРМЕНИЯ   2868B842B46F754C088D89E130F89585        2      2       2
БАХРЕЙН   2868B842B46F754C088D89E130F89585       19     19      19
          42F04CB526338F1170B0A905EF97F451        2      2       2
          670017E2D871B8962E5456CA71F6A1D1        7      7       7
          9199AB529CF62D4BDB7E8B1D7459001D       45     45      45
          B8AF2335E04E7BAD5168D9B39FABAC21       42     42      42
БЕЛАРУСЬ  2055BD76EC29C8B623E402241A862E85        2      2       2
          2868B842B46F754C088D89E130F89585     2449   2449    2449
          2C60971C030C7E2F66E9242855B65014        3      3       3
          30B1F638C078A06C0813DD3E9C878F0E        3      3       3
          4E147573030A5A96278A19A54C6F9319       22     22      22
          6C9AEEE99F6F675CCE8A6A126EB0D83A       36     36      36
          9199AB529CF62D4BDB7E8B1D7459001D      661    661     661
          A7078795180A2A28687DA2A1E8BACB92        1      1       1
          B8AF2335E04E7BAD5168D9B39FABAC21      105    105     105
          C6AD4B84092CCBB3E3729F73B00C55A1        8      8       8
          C740053B0E82D87BB64A24772B4AA438        1      1       1
БЕЛЬГИЯ   2868B842B46F754C088D89E130F89585        2      2       2
          670017E2D871B8962E5456CA71F6A1D1        1      1       1
          9199AB529CF62D4BDB7E8B1D7459001D        5      5       3
          B8AF2335E04E7BAD5168D9B39FABAC21        4      4       2
БОЛГАРИЯ  2868B842B46F754C088D89E130F89585        8      8       8
          9199AB529CF62D4BDB7E8B1D7459001D      297    297     296
ГЕРМАНИЯ  2868B842B46F754C088D89E130F89585       58     58      58
          42F04CB526338F1170B0A905EF97F451        1      1       1
          670017E2D871B8962E5456CA71F6A1D1        4      4       4
          75E0EAF2E5062A080CA0FDBBB8140627       21     21      21

In [38]:
products_df.groupby(['product_short_name', 'country']).count().head(30)

                                                                gtin   inn  \
product_short_name               country
02A7675BFD8266523047EAB377029745 КИТАЙ                             1     1
0897CDEC3F48C9278EB8C45C96712AF8 ИСПАНИЯ                           1     1
112E4FF1E283A93AE54A048A72D60F50 ИСПАНИЯ                          15    15
                                 ФРАНЦИЯ                           3     3
1A31E7D277720BD89C535C4917D61FDC ФРАНЦИЯ                           1     1
2055BD76EC29C8B623E402241A862E85 БЕЛАРУСЬ                          2     2
2169F5521C7AE342374A8298DBCA26FD РОССИЯ                            7     7
259125C0A83B5BD3F7E9CC6339252B9A РОССИЯ                            1     1
2868B842B46F754C088D89E130F89585 АВСТРАЛИЯ                        12    12
                                 АРМЕНИЯ                           2     2
                                 БАХРЕЙН                          19    19
                                 БЕЛАРУСЬ                       2449  2449
                                 БЕЛЬГИЯ                           2     2
                                 БОЛГАРИЯ                          8     8
                                 ГЕРМАНИЯ                         58    58
                                 ДАНИЯ                             1     1
                                 ИЗРАИЛЬ                          29    29
                                 ИНДИЯ                             1     1
                                 ИСПАНИЯ                          88    88
                                 ИТАЛИЯ                         1145  1145
                                 КАНАДА                           24    24
                                 КИТАЙ                            82    82
                                 КОРЕЯ, РЕСПУБЛИКА                 1     1
                                 ЛАТВИЯ                           42    42
                                 НИДЕРЛАНДЫ                       17    17
                                 ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ   549   549
                                 ОМАН                             18    18
                                 ПОЛЬША                          154   154
                                 РОССИЯ                         4895  4895
                                 САУДОВСКАЯ АРАВИЯ                 1     1

                                                                product_name  \
product_short_name               country
02A7675BFD8266523047EAB377029745 КИТАЙ                                     1
0897CDEC3F48C9278EB8C45C96712AF8 ИСПАНИЯ                                   1
112E4FF1E283A93AE54A048A72D60F50 ИСПАНИЯ                                  15
                                 ФРАНЦИЯ                                   3
1A31E7D277720BD89C535C4917D61FDC ФРАНЦИЯ                                   1
2055BD76EC29C8B623E402241A862E85 БЕЛАРУСЬ                                  2
2169F5521C7AE342374A8298DBCA26FD РОССИЯ                                    7
259125C0A83B5BD3F7E9CC6339252B9A РОССИЯ                                    1
2868B842B46F754C088D89E130F89585 АВСТРАЛИЯ                                12
                                 АРМЕНИЯ                                   2
                                 БАХРЕЙН                                  19
                                 БЕЛАРУСЬ                               2449
                                 БЕЛЬГИЯ                                   2
                                 БОЛГАРИЯ                                  8
                                 ГЕРМАНИЯ                                 58
                                 ДАНИЯ                                     1
                                 ИЗРАИЛЬ                                  29
                                 ИНДИЯ                                     1
                                 ИСПАНИЯ                                  88
                                 ИТАЛИЯ                                 1145
                                 КАНАДА                                   24
                                 КИТАЙ                                    82
                                 КОРЕЯ, РЕСПУБЛИКА                         1
                                 ЛАТВИЯ                                   42
                                 НИДЕРЛАНДЫ                               17
                                 ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ           549
                                 ОМАН                                     18
                                 ПОЛЬША                                  154
                                 РОССИЯ                                 4895
                                 САУДОВСКАЯ АРАВИЯ                         1

                                                                tnved  \
product_short_name               country
02A7675BFD8266523047EAB377029745 КИТАЙ                              1
0897CDEC3F48C9278EB8C45C96712AF8 ИСПАНИЯ                            1
112E4FF1E283A93AE54A048A72D60F50 ИСПАНИЯ                           15
                                 ФРАНЦИЯ                            3
1A31E7D277720BD89C535C4917D61FDC ФРАНЦИЯ                            1
2055BD76EC29C8B623E402241A862E85 БЕЛАРУСЬ                           2
2169F5521C7AE342374A8298DBCA26FD РОССИЯ                             7
259125C0A83B5BD3F7E9CC6339252B9A РОССИЯ                             1
2868B842B46F754C088D89E130F89585 АВСТРАЛИЯ                         12
                                 АРМЕНИЯ                            2
                                 БАХРЕЙН                           19
                                 БЕЛАРУСЬ                        2449
                                 БЕЛЬГИЯ                            2
                                 БОЛГАРИЯ                           8
                                 ГЕРМАНИЯ                          58
                                 ДАНИЯ                              1
                                 ИЗРАИЛЬ                           29
                                 ИНДИЯ                              1
                                 ИСПАНИЯ                           88
                                 ИТАЛИЯ                          1145
                                 КАНАДА                            24
                                 КИТАЙ                             82
                                 КОРЕЯ, РЕСПУБЛИКА                  1
                                 ЛАТВИЯ                            42
                                 НИДЕРЛАНДЫ                        17
                                 ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ    549
                                 ОМАН                              18
                                 ПОЛЬША                           154
                                 РОССИЯ                          4895
                                 САУДОВСКАЯ АРАВИЯ                  1

                                                                tnved10  \
product_short_name               country
02A7675BFD8266523047EAB377029745 КИТАЙ                                1
0897CDEC3F48C9278EB8C45C96712AF8 ИСПАНИЯ                              1
112E4FF1E283A93AE54A048A72D60F50 ИСПАНИЯ                             15
                                 ФРАНЦИЯ                              3
1A31E7D277720BD89C535C4917D61FDC ФРАНЦИЯ                              1
2055BD76EC29C8B623E402241A862E85 БЕЛАРУСЬ                             2
2169F5521C7AE342374A8298DBCA26FD РОССИЯ                               7
259125C0A83B5BD3F7E9CC6339252B9A РОССИЯ                               1
2868B842B46F754C088D89E130F89585 АВСТРАЛИЯ                           12
                                 АРМЕНИЯ                              2
                                 БАХРЕЙН                             19
                                 БЕЛАРУСЬ                          2449
                                 БЕЛЬГИЯ                              2
                                 БОЛГАРИЯ                             8
                                 ГЕРМАНИЯ                            58
                                 ДАНИЯ                                1
                                 ИЗРАИЛЬ                             29
                                 ИНДИЯ                                1
                                 ИСПАНИЯ                             88
                                 ИТАЛИЯ                            1145
                                 КАНАДА                              24
                                 КИТАЙ                               82
                                 КОРЕЯ, РЕСПУБЛИКА                    1
                                 ЛАТВИЯ                              42
                                 НИДЕРЛАНДЫ                          17
                                 ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ      549
                                 ОМАН                                18
                                 ПОЛЬША                             154
                                 РОССИЯ                            4895
                                 САУДОВСКАЯ АРАВИЯ                    1

                                                                brand  volume
product_short_name               country
02A7675BFD8266523047EAB377029745 КИТАЙ                              1       1
0897CDEC3F48C9278EB8C45C96712AF8 ИСПАНИЯ                            1       1
112E4FF1E283A93AE54A048A72D60F50 ИСПАНИЯ                           15      15
                                 ФРАНЦИЯ                            3       3
1A31E7D277720BD89C535C4917D61FDC ФРАНЦИЯ                            1       1
2055BD76EC29C8B623E402241A862E85 БЕЛАРУСЬ                           2       2
2169F5521C7AE342374A8298DBCA26FD РОССИЯ                             7       1
259125C0A83B5BD3F7E9CC6339252B9A РОССИЯ                             1       1
2868B842B46F754C088D89E130F89585 АВСТРАЛИЯ                         12      12
                                 АРМЕНИЯ                            2       2
                                 БАХРЕЙН                           19      19
                                 БЕЛАРУСЬ                        2449    2449
                                 БЕЛЬГИЯ                            2       2
                                 БОЛГАРИЯ                           8       8
                                 ГЕРМАНИЯ                          58      58
                                 ДАНИЯ                              1       1
                                 ИЗРАИЛЬ                           29      29
                                 ИНДИЯ                              1       1
                                 ИСПАНИЯ                           88      83
                                 ИТАЛИЯ                          1145     964
                                 КАНАДА                            24      24
                                 КИТАЙ                             82      82
                                 КОРЕЯ, РЕСПУБЛИКА                  1       1
                                 ЛАТВИЯ                            42      42
                                 НИДЕРЛАНДЫ                        17      17
                                 ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ    549     547
                                 ОМАН                              18      18
                                 ПОЛЬША                           154     154
                                 РОССИЯ                          4895    3808
                                 САУДОВСКАЯ АРАВИЯ                  1       1

In [53]:
products_df.groupby(['product_short_name']).count().sort_values(by='gtin', ascending=False)

,gtin,inn,product_name,tnved,tnved10,brand,country,volume
product_short_name,,,,,,,,
9199AB529CF62D4BDB7E8B1D7459001D,141044,141044,141044,141044,141044,141044,36593,132858
B8AF2335E04E7BAD5168D9B39FABAC21,136013,136013,136013,136013,136013,136013,18030,127198
9F7293E9B9C4AEC1FEC02CF457F72E93,63060,63060,63060,63060,63060,63060,4,6
2868B842B46F754C088D89E130F89585,37276,37276,37276,37276,37276,37276,12596,35113
C6AD4B84092CCBB3E3729F73B00C55A1,6741,6741,6741,6741,6741,6741,2117,6149
...,...,...,...,...,...,...,...,...
6D2580183CEF6C8AF1CC72E1C6E6FBC4,1,1,1,1,1,1,0,1
AF06EE07B96163C227E593577E40D0EC,1,1,1,1,1,1,0,1
391E7EEE49DD89BEE41F5B9770ABB363,1,1,1,1,1,1,1,1
B3DE72BD69F2716D9E3C2423BF311B65,1,1,1,1,1,1,0,1
AEBCC4DAC9D487A5068C57D368426066,1,1,1,1,1,1,0,1

In [67]:
products_df[products_df['country'] == 'РОССИЯ'].count()

gtin                  14719
inn                   14719
product_name          14719
product_short_name    14719
tnved                 14719
tnved10               14719
brand                 14719
country               14719
volume                 9516
dtype: int64

# Агрегированные

## Перемещения

In [88]:
movement_df = pd.read_csv('data/Агрегированные данные о перемещениях товаров между участниками с 2021-11-22 по 2022-11-21.csv')
movement_df.head(5)

,t1.dt,sender_region_code,receiver_region_code,sender_org_count,receiver_org_count,assortment,count_brand,cnt_moved
0,2022-10-16,43,77,1,1,1,1,16
1,2022-05-31,50,56,5,3,98,15,928
2,2022-04-05,77,59,1,1,1,1,3
3,2022-07-14,58,66,1,1,2,2,2
4,2022-10-30,64,71,1,1,1,1,1

In [157]:
movement_df['sender_region_code'].value_counts()

77    17194
50     8560
66     6111
52     5170
78     4897
      ...
89        7
9         4
7         4
8         3
87        1
Name: sender_region_code, Length: 81, dtype: int64

In [158]:
movement_df['receiver_region_code'].value_counts()

77    4308
23    2745
66    2544
50    2512
16    1937
      ...
8      133
9      127
17      96
87      44
83       4
Name: receiver_region_code, Length: 85, dtype: int64

In [159]:
movement_df['sender_org_count'].value_counts()

1     56062
2     15128
3      6703
4      3240
5      2115
      ...
85        1
31        1
52        1
36        1
93        1
Name: sender_org_count, Length: 79, dtype: int64

In [160]:
movement_df['receiver_org_count'].value_counts()

1      42764
2      14220
3       7347
4       4719
5       3209
       ...
137        1
128        1
70         1
109        1
131        1
Name: receiver_org_count, Length: 129, dtype: int64

In [161]:
movement_df['assortment'].value_counts()

1       5696
2       3410
3       3020
4       2465
5       2283
        ...
1403       1
1071       1
1844       1
990        1
789        1
Name: assortment, Length: 1193, dtype: int64

In [162]:
movement_df['count_brand'].value_counts()

1      21846
2       8783
3       6087
4       4597
5       4257
       ...
133        1
278        1
254        1
152        1
130        1
Name: count_brand, Length: 256, dtype: int64

In [163]:
movement_df['cnt_moved'].value_counts()

1         2785
2         1935
3         1493
4         1343
6         1295
          ...
7238         1
9207         1
78425        1
24506        1
101106       1
Name: cnt_moved, Length: 7175, dtype: int64

## Вывод

In [164]:
out_df = pd.read_csv('data/Агрегированные данные о выводе товаров из оборота с 2021-11-22 по 2022-11-21.csv')
out_df.head(5)

,dt,region_code,type_operation,count_active_point,org_count,assortment,count_brand,cnt,sum_price
0,2022-07-01,58,Прочий тип вывода из оборота,4,4,4,3,4,51827
1,2022-03-04,75,Прочий тип вывода из оборота,20,13,75,21,104,1350999
2,2021-12-19,54,Продажа конечному потребителю в точке продаж,210,89,539,125,1430,20375011
3,2022-08-23,72,Продажа конечному потребителю в точке продаж,90,57,287,60,414,3780981
4,2022-04-20,51,Продажа конечному потребителю в точке продаж,48,22,234,49,702,4249332

In [165]:
out_df['region_code'].value_counts()

77    2094
50    1753
78    1709
66    1602
55    1494
      ...
49     479
7      457
17     419
6      233
83      80
Name: region_code, Length: 85, dtype: int64

In [166]:
out_df['type_operation'].value_counts()

Продажа конечному потребителю в точке продаж    30530
Прочий тип вывода из оборота                    27773
Конечная продажа организации                     5708
Списание / Вывод из оборота без получателя       5039
Дистанционная продажа конечному потребителю      4931
Продажи за пределы РФ                            1075
Продажа по государственному контракту              10
Name: type_operation, dtype: int64

In [176]:
# out_df['type_operation'].fillna('0').value_counts();

In [167]:
out_df['region_code'].value_counts()

77    2094
50    1753
78    1709
66    1602
55    1494
      ...
49     479
7      457
17     419
6      233
83      80
Name: region_code, Length: 85, dtype: int64

In [168]:
out_df['count_active_point'].value_counts()

1       19548
2        3724
3        2650
4        2180
5        1762
        ...
7087        1
2092        1
2537        1
783         1
2565        1
Name: count_active_point, Length: 1371, dtype: int64

In [169]:
out_df['org_count'].value_counts()

1      15039
2       6680
3       4243
4       3147
5       2591
       ...
350        1
367        1
244        1
356        1
334        1
Name: org_count, Length: 354, dtype: int64

In [170]:
out_df['assortment'].value_counts()

1       6497
2       3638
3       2650
4       2225
5       1841
        ...
6230       1
1067       1
2256       1
5650       1
7094       1
Name: assortment, Length: 2677, dtype: int64

In [171]:
out_df['count_brand'].value_counts()

1      10011
2       4799
3       3718
4       3218
5       2694
       ...
321        1
617        1
632        1
338        1
509        1
Name: count_brand, Length: 467, dtype: int64

In [172]:
out_df['cnt'].value_counts()

1        5587
2        3246
3        2459
4        1968
5        1678
         ...
60310       1
1861        1
10555       1
10092       1
90592       1
Name: cnt, Length: 5740, dtype: int64

In [173]:
out_df['sum_price'].value_counts()

0          13485
5000         105
5714          84
31428         83
4285          70
           ...
3758980        1
2460           1
148373         1
53956          1
5030493        1
Name: sum_price, Length: 55914, dtype: int64

 ## Ввод

In [177]:
in_df = pd.read_csv('data/Агрегированные данные о вводе товаров в оборот с 2021-11-22 по 2022-11-21.csv')
in_df.head(5)

,dt,region_code,operation_type,org_count,assortment,count_brand,cnt
0,2022-02-24,3,Маркировка остатков,1,1,1,1
1,2022-02-04,63,Маркировка остатков,1,1,1,2
2,2021-11-23,66,Маркировка остатков,7,98,10,547
3,2022-11-12,64,РФ,1,2,1,2
4,2022-09-26,54,Перемаркировка,1,1,1,8

In [189]:
in_df.query("dt == '2022-02-24'")

,dt,region_code,operation_type,org_count,assortment,count_brand,cnt
0,2022-02-24,3,Маркировка остатков,1,1,1,1
133,2022-02-24,47,Маркировка остатков,1,1,1,18
180,2022-02-24,40,Перемаркировка,1,1,1,1
406,2022-02-24,47,Принято от физического лица,1,1,1,5
623,2022-02-24,38,Возврат,1,1,1,1
...,...,...,...,...,...,...,...
33431,2022-02-24,63,Возврат,1,1,1,1
33871,2022-02-24,72,Маркировка остатков,1,1,1,1
33883,2022-02-24,69,Маркировка остатков,1,1,1,1
33971,2022-02-24,54,Перемаркировка,2,4,4,4
34105,2022-02-24,55,Возврат,6,12,7,15

In [179]:
# in_df['dt'].value_counts()

In [180]:
in_df['region_code'].value_counts()

77    2111
50    1710
78    1476
16    1276
23    1237
      ...
9       17
7       15
17       7
6        3
4        1
Name: region_code, Length: 85, dtype: int64

In [181]:
in_df['operation_type'].value_counts()

Возврат                        12927
Маркировка остатков             9692
Перемаркировка                  5844
РФ                              2971
Импорт. Не ЕАЭС                 1571
Импорт. ЕАЭС                    1017
Принято от физического лица      180
Name: operation_type, dtype: int64

In [183]:
in_df['org_count'].value_counts().head(7) # мало

1    21794
2     6059
3     2459
4     1198
5      646
6      519
7      350
Name: org_count, dtype: int64

In [184]:
in_df['assortment'].value_counts()

1      13356
2       5379
3       2612
4       1785
5        981
       ...
649        1
401        1
332        1
554        1
560        1
Name: assortment, Length: 490, dtype: int64

In [185]:
in_df['count_brand'].value_counts()

1      18490
2       5702
3       2396
4       1237
5        749
       ...
121        1
102        1
356        1
107        1
136        1
Name: count_brand, Length: 145, dtype: int64

In [186]:
in_df['cnt'].value_counts()

1         11108
2          4792
3          2508
4          1552
5           985
          ...
56804         1
50069         1
281819        1
30307         1
8028          1
Name: cnt, Length: 3605, dtype: int64

 # Розница вывод

In [90]:
retail_out_df = pd.read_csv('data/Дополнительные датасеты для продукта для розницы/Данные о выводе товаров из оборота с 2021-11-22 по 2022-11-21 один розничный продавец.csv')
retail_out_df.head(5)

,dt,gtin,prid,inn,id_sp_,type_operation,price,cnt
0,2022-04-02,0E6D952FEFCA3542FF2E4EB72E544D6E,0618FA53229CAA68F16217D747EB5C46,6B8E111AB5B5C556C0AEA292ACA4D88B,NaN,Продажа конечному потребителю в точке продаж,85500,1
1,2022-04-02,18AA2603B271C19A581133BD34319311,0618FA53229CAA68F16217D747EB5C46,6B8E111AB5B5C556C0AEA292ACA4D88B,NaN,Продажа конечному потребителю в точке продаж,83571,1
2,2022-04-02,807F8E2BBA75FA9FDD7E48689C17B03C,0618FA53229CAA68F16217D747EB5C46,6B8E111AB5B5C556C0AEA292ACA4D88B,NaN,Продажа конечному потребителю в точке продаж,14285,2
3,2022-04-02,3DA4C09BB1526430F6584E8FA94C5723,CE816FDF82B121C67CAE9B79203B8BA1,6B8E111AB5B5C556C0AEA292ACA4D88B,DB144114FDED5796EC868E55DA982839,Продажа конечному потребителю в точке продаж,48528,1
4,2022-04-02,C2A8785275FF723EDD3057CE98FD794E,CE816FDF82B121C67CAE9B79203B8BA1,6B8E111AB5B5C556C0AEA292ACA4D88B,NaN,Продажа конечному потребителю в точке продаж,60742,1

In [148]:
retail_out_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2262895 entries, 0 to 2262894
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   dt              object
 1   gtin            object
 2   prid            object
 3   inn             object
 4   id_sp_          object
 5   type_operation  object
 6   price           int64
 7   cnt             int64
dtypes: int64(2), object(6)
memory usage: 138.1+ MB

In [153]:
retail_out_df['id_sp_'].fillna('0').value_counts()

0                                   681330
3D1D20C0C33E6478BD4B6AA005858479     30478
32246224A0B2950C19FAC96BC145F73F     27801
1B398061561B35FE8F4865C8AB024075     27222
69376E48B489D54BBFA3D6C9BDB1AD63     24308
                                     ...
56B4DCE7D5E5D01F9D7DAE15A7065EE9         1
9233D93E2D6B6B06330D9A3AA80773EE         1
C402C54537E34F09DCC80172AEC1799C         1
F50B2FA5625D7705F8616BE82D972E27         1
A7DB73439ED81263F59B9B7B0F744868         1
Name: id_sp_, Length: 287, dtype: int64

In [154]:
retail_out_df['inn'].value_counts()

6B8E111AB5B5C556C0AEA292ACA4D88B    2262895
Name: inn, dtype: int64

In [156]:
retail_out_df['prid'].value_counts().head(10) # Их мало

0618FA53229CAA68F16217D747EB5C46    770222
91ECAC3DC5225241188E04925B2C97CA    318157
7D1B71037D27D5597BEA1D5077663541    205104
A43BE3249A22A8CCB7AE1F6D1B1477D0    195466
CE816FDF82B121C67CAE9B79203B8BA1    173757
6B8E111AB5B5C556C0AEA292ACA4D88B    129666
93E0A152D5F486EA13C9DEFA24625849    123554
668F1CD708BD7C2EF7F7D308637147A7    102056
EF97FB7B958BBC9476716CD392CF8E54     80764
77F82E55113DC87D9DD6E67AC7C3B6A7     45913
Name: prid, dtype: int64

In [149]:
retail_out_df['type_operation'].value_counts()

Продажа конечному потребителю в точке продаж    2135724
Дистанционная продажа конечному потребителю      109805
Прочий тип вывода из оборота                      16588
Списание / Вывод из оборота без получателя          361
Конечная продажа организации                        320
Продажи за пределы РФ                                97
Name: type_operation, dtype: int64

In [152]:
retail_out_df.query('price == 0').size

961616

# Производитель

## Производитель ввод

In [5]:
factory_in = pd.read_csv('data/Дополнительные датасеты для продукта для производителя/Данные о вводе товаров в оборот с 2021-11-22 по 2022-11-21 один производитель.csv')
factory_in.head(5)

,dt,inn,gtin,prid,operation_type,cnt
0,2021-11-22,DA62EC79660CF21AC37A260DA6F642C4,A279061678C6BCAD8D72041BB2C0A834,DA62EC79660CF21AC37A260DA6F642C4,РФ,175
1,2021-11-22,DA62EC79660CF21AC37A260DA6F642C4,3C31611BC8FF7AF82B6E7D8930E11CA8,DA62EC79660CF21AC37A260DA6F642C4,РФ,18
2,2021-11-22,DA62EC79660CF21AC37A260DA6F642C4,4A566E6DC27A1376CC263090A77C62D8,DA62EC79660CF21AC37A260DA6F642C4,РФ,1
3,2021-11-22,DA62EC79660CF21AC37A260DA6F642C4,2FAFBA086E6F308987A681CD6238AE3C,DA62EC79660CF21AC37A260DA6F642C4,РФ,18
4,2021-11-22,DA62EC79660CF21AC37A260DA6F642C4,5D74B67E1DAC42C7526F27A6BDA73FF6,DA62EC79660CF21AC37A260DA6F642C4,Перемаркировка,120

Перемаркировка

In [25]:
factory_in.query("operation_type == 'Перемаркировка'")['gtin'].value_counts()

5D74B67E1DAC42C7526F27A6BDA73FF6    15
8088EB728C76675D594BE5097D66B966    13
33EB34CCEB2F31800590CD6A35D77E51    11
859C541431985132C29F457945761242    10
F2CDA2E744F97F29BE94A381774E10D8     9
                                    ..
AEAA9708FB85B367FC41D90060A2B9DD     1
B4E5FCFA22D492E88C56BBEF1B2AB55F     1
E20F564AB1DB7D395CA58B0258BEC769     1
B02DEEAA5277F36B55B2F305FB45467A     1
C052C4A7B1461D3BDA0E786361525C56     1
Name: gtin, Length: 211, dtype: int64

In [ ]:
Возврат

In [28]:
factory_in.query("operation_type == 'Возврат'")['gtin'].value_counts().head(5)

436ADF538DC56BF1655602A61B351A1D    4
33EB34CCEB2F31800590CD6A35D77E51    4
95333638A9E567B1BCC0DDAFC91A39A7    3
BA72BCA7A8B7B979F3C118C4C208D764    3
82679ED6AB16F320FC9566B50CBBA5E7    3
Name: gtin, dtype: int64

In [141]:
factory_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2597 entries, 0 to 2596
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   dt              2597 non-null   object
 1   inn             2597 non-null   object
 2   gtin            2597 non-null   object
 3   prid            2597 non-null   object
 4   operation_type  2597 non-null   object
 5   cnt             2597 non-null   int64
dtypes: int64(1), object(5)
memory usage: 121.9+ KB

In [136]:
factory_in['inn'].value_counts()

DA62EC79660CF21AC37A260DA6F642C4    2597
Name: inn, dtype: int64

In [137]:
factory_in['prid'].value_counts()

DA62EC79660CF21AC37A260DA6F642C4    2597
Name: prid, dtype: int64

In [138]:
factory_in['gtin'].value_counts()

8088EB728C76675D594BE5097D66B966    106
289AEBCA82877CB19E7AA33E0E522883     97
5D74B67E1DAC42C7526F27A6BDA73FF6     91
06F4CAE6A2764D141E53C3AC8282CD36     66
01008088C6247B9C0A1F4F460898065E     57
                                   ...
25B8F97289E7985F6C9B098DB708B23D      1
D0FDFB508148EFA08BA92884FD9C670D      1
12667ADBF753BA1B5D3AF02BD5899D74      1
2370C429DEB718B7B6B7FF6C77DFF305      1
F65C15E99254D739851169A81D9C5782      1
Name: gtin, Length: 321, dtype: int64

In [139]:
factory_in['cnt'].value_counts()

1       691
2       162
3        51
4        38
5        25
       ...
3952      1
3208      1
2280      1
9960      1
4582      1
Name: cnt, Length: 1149, dtype: int64

In [140]:
factory_in['operation_type'].value_counts()

РФ                     1917
Перемаркировка          598
Возврат                  81
Маркировка остатков       1
Name: operation_type, dtype: int64

## Производитель вывод

In [6]:
factory_out = pd.read_csv('data/Дополнительные датасеты для продукта для производителя/Данные о выводе товаров из оборота с 2021-11-22 по 2022-11-21 один производитель.csv')
factory_out.head(5)

,dt,gtin,prid,inn,id_sp_,type_operation,price,cnt
0,2022-10-15,289AEBCA82877CB19E7AA33E0E522883,DA62EC79660CF21AC37A260DA6F642C4,89F1BFD156A04E3D9B28C7FD6BED4F2F,F5DEEE4DB58DAE786ABB7ACC1339E7AC,Продажа конечному потребителю в точке продаж,1285,2
1,2022-10-15,289AEBCA82877CB19E7AA33E0E522883,DA62EC79660CF21AC37A260DA6F642C4,89F1BFD156A04E3D9B28C7FD6BED4F2F,0CDC2604FE5051E46DA2A9ED5B318274,Продажа конечному потребителю в точке продаж,1285,2
2,2022-10-15,289AEBCA82877CB19E7AA33E0E522883,DA62EC79660CF21AC37A260DA6F642C4,89F1BFD156A04E3D9B28C7FD6BED4F2F,5196C057F2C464323436C87B54DE6119,Продажа конечному потребителю в точке продаж,1128,1
3,2022-10-15,289AEBCA82877CB19E7AA33E0E522883,DA62EC79660CF21AC37A260DA6F642C4,89F1BFD156A04E3D9B28C7FD6BED4F2F,29F8E31472B06FD89405AB4CF147D352,Продажа конечному потребителю в точке продаж,1285,2
4,2022-10-15,289AEBCA82877CB19E7AA33E0E522883,DA62EC79660CF21AC37A260DA6F642C4,89F1BFD156A04E3D9B28C7FD6BED4F2F,E778C673254F2DE374B3EAB367FF3478,Продажа конечному потребителю в точке продаж,1285,1

In [33]:
factory_out['price_out'] = factory_out['price'] / factory_out['cnt']

In [37]:
factory_out['gtin'].unique()[:5]

array(['289AEBCA82877CB19E7AA33E0E522883',
       '8088EB728C76675D594BE5097D66B966',
       'E4CBE8BA3DBC3C6E2E85EC808EFCF3F5',
       'E0C3BE288E09F7A2529D358D54AA71DC',
       '5D74B67E1DAC42C7526F27A6BDA73FF6'], dtype=object)

In [40]:
factory_out.query("gtin == '5D74B67E1DAC42C7526F27A6BDA73FF6'").groupby(['inn'])['price_out'].mean()

inn
00428A5DE4609FB27B275440CA52EEDE    1553.250000
0058A60B0B25912D196873A4A12018F7    1928.000000
005EC7ED4F75FF426E5248408AB3BE7E      47.333333
00847C212E2E0C5681574CB5C2D9441E    1012.545168
00A7A563FB2C0A3CCED2904C849254D3     899.218750
                                       ...
FFB0435C6EB8DB04945429DB03F91639    1192.555227
FFC98119D6193CCA5C46ABE462553004    2245.140455
FFD7019B7CBCDEFCCE9A0B6E2BB63AA6    1878.947368
FFE206BA6648A50388B72EDA4AD764D6    1305.761905
FFEF3B3E700AB4DA1BEBA98140B49667    2145.591398
Name: price_out, Length: 2248, dtype: float64

In [142]:
factory_out.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650157 entries, 0 to 1650156
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   dt              1650157 non-null  object
 1   gtin            1650157 non-null  object
 2   prid            1650157 non-null  object
 3   inn             1650157 non-null  object
 4   id_sp_          1404578 non-null  object
 5   type_operation  1650157 non-null  object
 6   price           1650157 non-null  int64
 7   cnt             1650157 non-null  int64
dtypes: int64(2), object(6)
memory usage: 100.7+ MB

In [212]:
factory_out['id_sp_'].fillna('0').value_counts()

0                                   245579
A496FEE4E9523BDC1118451E5912330C     25888
1A03FC38DA17FD0B187A9F74D6F876A1     25813
9D28FDABCB9A028CDD077BE0EF013912     24718
2920920398BFC032194733171301B81B     21211
                                     ...
4F65B8CFBB86E76807D1B286581067CB         1
63E0C29662F643BFB66745473092E040         1
FFA88981648E66BF0CF4B4038C473C1C         1
20507498F919F3484EDDDB7A21D4F5EA         1
BEC4F813983EE28810439D3A193FEFEE         1
Name: id_sp_, Length: 14887, dtype: int64

In [211]:
factory_out['inn'].fillna('0').value_counts()

89F1BFD156A04E3D9B28C7FD6BED4F2F    363245
E147E089C99F3A5EFEEF57739F60EFD1    187317
DA62EC79660CF21AC37A260DA6F642C4    152785
B73B3E40E1D168D794E7AF988235DDC7     95138
5C87E9B71FEC0A6A9C761D46F0B3EB9C     52401
                                     ...
966D483304A81F1072FE9555C1E6D26C         1
1D9F91171AFF3F3679EF1F318A919500         1
FAFC6E2FA724BCE836DDC84EC2927C30         1
4DCF5D5C7A901B7A270BBE0CFF750B0A         1
0E5F3149E060CCB98945B78BE053CED5         1
Name: inn, Length: 4446, dtype: int64

In [117]:
factory_out['gtin'].value_counts()

289AEBCA82877CB19E7AA33E0E522883    350721
5D74B67E1DAC42C7526F27A6BDA73FF6    148471
06F4CAE6A2764D141E53C3AC8282CD36    122038
19AB58E7A981925E37850D2BFF503CA0    103042
8088EB728C76675D594BE5097D66B966     72783
                                     ...
D809545280C070B5D4EF1AB58E9AF39E         2
D84E3B2BFB8EFCFE0E76435CAF9512E3         2
1B851BAD37A709E019629AAD744E799A         1
1FED4E2C4360A7D1B5479D4E030474BE         1
50737869A346A8CA42BFB29C7894396D         1
Name: gtin, Length: 401, dtype: int64

In [118]:
factory_out['type_operation'].value_counts()

Продажа конечному потребителю в точке продаж    1559507
Прочий тип вывода из оборота                      44840
Дистанционная продажа конечному потребителю       38569
Конечная продажа организации                       3059
Списание / Вывод из оборота без получателя         2908
Продажи за пределы РФ                              1274
Name: type_operation, dtype: int64

In [119]:
factory_out.groupby(['gtin'])['price'].std()

gtin
01008088C6247B9C0A1F4F460898065E    85438.007685
0103492993C57F25EDB5531ABB40089D     2155.602816
017610CEC5635945ED5AC900701B2357     4328.356840
01C113B0C991B1427C40F5B593E53786     2144.212005
024622A87791CED3E996965EBA7F3DC8        0.000000
                                        ...
FF1C4E0671C972C4D57D17E7A000E1C0      571.568301
FF37E7678431101D484331E58D0B41D1     1805.428123
FFA503105DB84B1720814B65DA93071E     7716.794021
FFF2836422F4ACD4DD9360512CA0E5A1     7149.572699
FFF8CA99860BCD1370FA25B49044E225      719.088304
Name: price, Length: 401, dtype: float64

In [146]:
factory_out[factory_out.gtin == '01008088C6247B9C0A1F4F460898065E'].head(5)

,dt,gtin,prid,inn,id_sp_,type_operation,price,cnt
101,2022-10-15,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,F7CA3735AF5996979B520D3FDB0CA19A,0C5ABBF5EB3809B5AD17C9B2517EA562,Продажа конечному потребителю в точке продаж,5000,2
172,2022-10-15,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,3BFEEDFB792E6D27503E28C004F2574A,28F164BBFD63B4CBB98C2788158F4BD1,Продажа конечному потребителю в точке продаж,12142,1
238,2022-10-15,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,DA885C6F8E3E132E144FA34D6CBEC543,62A51960D443FAE1F91C67FD618F72FB,Продажа конечному потребителю в точке продаж,11271,1
430,2022-03-02,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,DA62EC79660CF21AC37A260DA6F642C4,BB45C1B1D24B888A78DDA9B1DDDAB9C3,Продажа конечному потребителю в точке продаж,8642,2
489,2022-03-02,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,2BE02F3FE88C85D34B7B4A577DAA638D,NaN,Дистанционная продажа конечному потребителю,0,2

In [147]:
factory_out[factory_out.gtin == '01008088C6247B9C0A1F4F460898065E'].sort_values(by='price', ascending=False).head(5)

,dt,gtin,prid,inn,id_sp_,type_operation,price,cnt
1190546,2022-03-30,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,94995E55885552CD919DC6F24DE51354,4C9838E08C2474E1C8CA5542F97980D0,Продажа конечному потребителю в точке продаж,11297000,1
341080,2022-08-09,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,C1956EEE3041BB68F5205AFAB93F6FED,BBACF20220BBBA53083754F06DE06958,Продажа конечному потребителю в точке продаж,55885,1
63842,2022-04-25,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,05E3E1DD8F6112C2D4E662FC11776124,F22305C3CEA6CAB02B7CEF7CB972A762,Продажа конечному потребителю в точке продаж,37142,1
281289,2022-08-01,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,F0B3FD716A3ECFAC7F0EC84E06915A27,E25F450684003A46F90C5DD7BB90181A,Продажа конечному потребителю в точке продаж,26357,1
387309,2021-12-30,01008088C6247B9C0A1F4F460898065E,DA62EC79660CF21AC37A260DA6F642C4,51BF4A2F0E18A2DF4CD5F52E37E5FF31,8857956360B699C87581CD2E9DF38683,Продажа конечному потребителю в точке продаж,25642,1

In [204]:
factory_out[factory_out.gtin == '0103492993C57F25EDB5531ABB40089D'].sort_values(by='price', ascending=False).head(5)

,dt,gtin,prid,inn,id_sp_,type_operation,price,cnt
117500,2022-04-26,0103492993C57F25EDB5531ABB40089D,DA62EC79660CF21AC37A260DA6F642C4,DA62EC79660CF21AC37A260DA6F642C4,AD8536DFCEC366D3A8ED292B60B0C22A,Продажа конечному потребителю в точке продаж,18714,1
984810,2022-11-13,0103492993C57F25EDB5531ABB40089D,DA62EC79660CF21AC37A260DA6F642C4,DA62EC79660CF21AC37A260DA6F642C4,AD8536DFCEC366D3A8ED292B60B0C22A,Продажа конечному потребителю в точке продаж,14685,1
1298241,2022-11-18,0103492993C57F25EDB5531ABB40089D,DA62EC79660CF21AC37A260DA6F642C4,DA62EC79660CF21AC37A260DA6F642C4,AD8536DFCEC366D3A8ED292B60B0C22A,Продажа конечному потребителю в точке продаж,14685,1
1300969,2022-08-01,0103492993C57F25EDB5531ABB40089D,DA62EC79660CF21AC37A260DA6F642C4,DA62EC79660CF21AC37A260DA6F642C4,AD8536DFCEC366D3A8ED292B60B0C22A,Продажа конечному потребителю в точке продаж,14685,1
1400175,2022-07-05,0103492993C57F25EDB5531ABB40089D,DA62EC79660CF21AC37A260DA6F642C4,DA62EC79660CF21AC37A260DA6F642C4,AD8536DFCEC366D3A8ED292B60B0C22A,Продажа конечному потребителю в точке продаж,14685,1

In [205]:
factory_out[factory_out.gtin == '01C113B0C991B1427C40F5B593E53786'].sort_values(by='price', ascending=False).head(5)

,dt,gtin,prid,inn,id_sp_,type_operation,price,cnt
250408,2022-11-02,01C113B0C991B1427C40F5B593E53786,DA62EC79660CF21AC37A260DA6F642C4,422164E7A685C1B211BE7B6A23603E67,9FCBD09ABA38AF115E9EA02F0866FFDA,Продажа конечному потребителю в точке продаж,10800,1
807646,2022-05-26,01C113B0C991B1427C40F5B593E53786,DA62EC79660CF21AC37A260DA6F642C4,9C64FB7E006B2225899F3537AD68ECD4,9BFEDACA58311646A8E9B9034DB4DDAC,Продажа конечному потребителю в точке продаж,9285,1
337367,2022-09-10,01C113B0C991B1427C40F5B593E53786,DA62EC79660CF21AC37A260DA6F642C4,4FA7C79096D40996753003FDEB651E4D,9B608A68035FB181D17AC213B65233AB,Продажа конечному потребителю в точке продаж,9142,1
846880,2022-03-03,01C113B0C991B1427C40F5B593E53786,DA62EC79660CF21AC37A260DA6F642C4,422164E7A685C1B211BE7B6A23603E67,9FCBD09ABA38AF115E9EA02F0866FFDA,Продажа конечному потребителю в точке продаж,8128,1
152257,2022-01-03,01C113B0C991B1427C40F5B593E53786,DA62EC79660CF21AC37A260DA6F642C4,9C64FB7E006B2225899F3537AD68ECD4,9BFEDACA58311646A8E9B9034DB4DDAC,Продажа конечному потребителю в точке продаж,6428,1

In [120]:
factory_out.groupby(['gtin'])['price'].mean()

gtin
01008088C6247B9C0A1F4F460898065E     8819.143764
0103492993C57F25EDB5531ABB40089D    14228.000000
017610CEC5635945ED5AC900701B2357     5079.073643
01C113B0C991B1427C40F5B593E53786     3787.508161
024622A87791CED3E996965EBA7F3DC8     4142.000000
                                        ...
FF1C4E0671C972C4D57D17E7A000E1C0     1679.201048
FF37E7678431101D484331E58D0B41D1     3004.177215
FFA503105DB84B1720814B65DA93071E    18802.747099
FFF2836422F4ACD4DD9360512CA0E5A1    10540.344000
FFF8CA99860BCD1370FA25B49044E225     1561.030762
Name: price, Length: 401, dtype: float64

## Перемещения

In [7]:
factory_move = pd.read_csv('data/Дополнительные датасеты для продукта для производителя/Данные о перемещениях товаров между участниками с 2021-11-22 по 2022-11-21 один производитель.csv')
factory_move.head(5)

,dt,gtin,prid,sender_inn,receiver_inn,cnt_moved
0,2022-03-28,289AEBCA82877CB19E7AA33E0E522883,DA62EC79660CF21AC37A260DA6F642C4,1141B8EB196FC9FE45B4FF3ED85F77DF,3300B49A222B322B9EA60CE45672178C,5
1,2022-03-28,42E4014F6E3023404F8B676D080EDDB0,DA62EC79660CF21AC37A260DA6F642C4,B6D3FC3661E47A30E2579CF85C81F179,DFE5BB9A38F0887450C94A05B5258D16,1
2,2022-03-28,8AD9201DF484BA62BFCDA93389BE2546,DA62EC79660CF21AC37A260DA6F642C4,5137D2202694EB65874BB604ACA4C56B,6E13702FD0C465A91622BA2492AEBC03,1
3,2022-03-28,777D245A6557001F2461B3F35E68A759,DA62EC79660CF21AC37A260DA6F642C4,DA62EC79660CF21AC37A260DA6F642C4,2BE02F3FE88C85D34B7B4A577DAA638D,1
4,2022-03-28,D5849F5C3693948DA91F02E989A0AC9A,DA62EC79660CF21AC37A260DA6F642C4,623065E7FDF2FA62F2197A7C9F8F5333,C8719385CAB828EFE6FACB3D5304BF66,1

In [144]:
factory_move.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342302 entries, 0 to 342301
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   dt            342302 non-null  object
 1   gtin          342302 non-null  object
 2   prid          342302 non-null  object
 3   sender_inn    342302 non-null  object
 4   receiver_inn  342302 non-null  object
 5   cnt_moved     342302 non-null  int64
dtypes: int64(1), object(5)
memory usage: 15.7+ MB

In [111]:
factory_move['gtin'].value_counts()

06F4CAE6A2764D141E53C3AC8282CD36    17971
5D74B67E1DAC42C7526F27A6BDA73FF6    17059
19AB58E7A981925E37850D2BFF503CA0    13690
289AEBCA82877CB19E7AA33E0E522883    13127
33EB34CCEB2F31800590CD6A35D77E51     9790
                                    ...
236CB4A1B6D48EF52B91EA00608955FD        2
F490D05FF970042847BCA28DBC428AC5        1
DF120B04C11313495366BFD9AB2D6349        1
D0FDFB508148EFA08BA92884FD9C670D        1
3538E27C87AF0716E95515A1525D937A        1
Name: gtin, Length: 316, dtype: int64

In [112]:
factory_move['prid'].value_counts()

DA62EC79660CF21AC37A260DA6F642C4    342302
Name: prid, dtype: int64

In [113]:
factory_move['sender_inn'].value_counts()

2BE02F3FE88C85D34B7B4A577DAA638D    78134
DA62EC79660CF21AC37A260DA6F642C4    34738
5137D2202694EB65874BB604ACA4C56B    21497
1E9AB659E9470CE5A35CF1BA1FD4D490    12044
1141B8EB196FC9FE45B4FF3ED85F77DF    11331
                                    ...
911AF79EFA0838AA8C4A6E18C3923F9A        1
EED55DBFD446B7C08893EF974B4A02F1        1
403A01AA2BA723D2A64FBE86895ABC45        1
B21928F371E80AA15D8F23FF1F9BDE40        1
C130D61F5E5CA0BC4D0A7F7C0C52BB7A        1
Name: sender_inn, Length: 416, dtype: int64

In [114]:
factory_move['receiver_inn'].value_counts()

2BE02F3FE88C85D34B7B4A577DAA638D    34077
EC32658F10E46693F0E1C98483ABE2A0     4161
811F94F707E9F70981237326C6629913     4054
6E13702FD0C465A91622BA2492AEBC03     3633
5C87E9B71FEC0A6A9C761D46F0B3EB9C     3597
                                    ...
F7E2699071B647D9CFD864B133F4B376        1
B2A0FD16DD2A4609E55DA5A8836048A0        1
F4360EEED165AE5734B50B76B7D723C3        1
73AB5C263012ED9C23EF4C64F9378A32        1
D791263809523765446A6AFA6A1A82AD        1
Name: receiver_inn, Length: 5642, dtype: int64

## Объединенная

In [ ]:
Выбытие + Справочники

In [ ]:
factory_out.set_index('id_sp_').join(points_df.set_index('id_sp_')[['region_code','city_with_type', 'postal_code']]) \
.set_index('gtin').join(products_df.set_index('gtin')[['product_name', 'product_short_name', 'brand', 'country']])

Движение + Справочники

In [19]:
factory_move.set_index('gtin').join(products_df.set_index('gtin')[['product_name', 'product_short_name', 'brand', 'country']]) \
.set_index('sender_inn').join(members_df.set_index('inn')).reset_index().rename(columns={'index':'sender_inn'}).set_index('receiver_inn').join(members_df.set_index('inn'), rsuffix='_rec_inn').reset_index().rename(columns={'index':'receiver_inn'})

,receiver_inn,sender_inn,dt,prid,cnt_moved,product_name,product_short_name,brand,country,region_code,region_code_rec_inn
0,001302A80A24238AFF2C225ED859BE24,4D335F39E9F496F935C0397D78D57285,2022-07-04,DA62EC79660CF21AC37A260DA6F642C4,10,3450999CEDBFE595CD0DDE4A287CF500,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,22,54.0
1,001302A80A24238AFF2C225ED859BE24,4D335F39E9F496F935C0397D78D57285,2022-07-04,DA62EC79660CF21AC37A260DA6F642C4,10,3450999CEDBFE595CD0DDE4A287CF500,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,22,54.0
2,001302A80A24238AFF2C225ED859BE24,4D335F39E9F496F935C0397D78D57285,2022-07-04,DA62EC79660CF21AC37A260DA6F642C4,10,3450999CEDBFE595CD0DDE4A287CF500,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,22,54.0
3,001302A80A24238AFF2C225ED859BE24,4D335F39E9F496F935C0397D78D57285,2022-07-04,DA62EC79660CF21AC37A260DA6F642C4,10,3450999CEDBFE595CD0DDE4A287CF500,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,22,54.0
4,001302A80A24238AFF2C225ED859BE24,4D335F39E9F496F935C0397D78D57285,2022-07-04,DA62EC79660CF21AC37A260DA6F642C4,10,3450999CEDBFE595CD0DDE4A287CF500,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,22,54.0
...,...,...,...,...,...,...,...,...,...,...,...
1579824,FFF9E9E005A8F64CB3F927D76CCBE34B,AE7F5C67298A67CACD2A193C9405524F,2022-07-28,DA62EC79660CF21AC37A260DA6F642C4,1,E736D2D4470658513B56DED9412A29EC,2868B842B46F754C088D89E130F89585,550710FDA7CDAABA81268E683325B534,РОССИЯ,50,76.0
1579825,FFF9E9E005A8F64CB3F927D76CCBE34B,AE7F5C67298A67CACD2A193C9405524F,2022-07-28,DA62EC79660CF21AC37A260DA6F642C4,1,E736D2D4470658513B56DED9412A29EC,2868B842B46F754C088D89E130F89585,550710FDA7CDAABA81268E683325B534,РОССИЯ,50,76.0
1579826,FFF9E9E005A8F64CB3F927D76CCBE34B,AE7F5C67298A67CACD2A193C9405524F,2021-11-25,DA62EC79660CF21AC37A260DA6F642C4,2,524574517B4F0E01D0905D34DDDA3F3C,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,50,76.0
1579827,FFF9E9E005A8F64CB3F927D76CCBE34B,AE7F5C67298A67CACD2A193C9405524F,2022-04-20,DA62EC79660CF21AC37A260DA6F642C4,2,524574517B4F0E01D0905D34DDDA3F3C,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,50,76.0
1579828,FFF9E9E005A8F64CB3F927D76CCBE34B,AE7F5C67298A67CACD2A193C9405524F,2022-01-20,DA62EC79660CF21AC37A260DA6F642C4,1,524574517B4F0E01D0905D34DDDA3F3C,C6AD4B84092CCBB3E3729F73B00C55A1,550710FDA7CDAABA81268E683325B534,РОССИЯ,50,76.0

In [ ]:
factory_out_joined = factory_out_joined.drop_duplicates()
factory_move_joined = factory_move_joined.drop_duplicates()

In [246]:
# factory_out.join(factory_move, lsuffix='_m', how='left').join(factory_in, lsuffix='_m', how='left').join() # .info()

#  дистриб перемещения

In [98]:
distributor_move = pd.read_csv('data/Дополнительные датасеты для продукта для дистрибьютера/Данные о перемещениях товаров между участниками с 2021-11-22 по 2022-11-21 один оптовик.csv')
distributor_move.head(5)

,dt,gtin,prid,sender_inn,receiver_inn,cnt_moved
0,2021-11-22,7343A8B396B8E0383D62495D625C1C59,7D1B71037D27D5597BEA1D5077663541,7D1B71037D27D5597BEA1D5077663541,6B8E111AB5B5C556C0AEA292ACA4D88B,107
1,2021-12-02,9993469FE80106ECB60FDB32AABC4252,7D1B71037D27D5597BEA1D5077663541,7D1B71037D27D5597BEA1D5077663541,DD3924C3F35CFC1D7AD5006C710DB029,4
2,2021-12-02,0CB732010A7967675A7B20604337636A,7D1B71037D27D5597BEA1D5077663541,7D1B71037D27D5597BEA1D5077663541,DD3924C3F35CFC1D7AD5006C710DB029,4
3,2021-12-02,50EDC8DB9E9E462EE0596D1019D0BD37,7D1B71037D27D5597BEA1D5077663541,7D1B71037D27D5597BEA1D5077663541,DD3924C3F35CFC1D7AD5006C710DB029,2
4,2021-12-02,428580681C21CCC2DA098F10BC1D5B49,7D1B71037D27D5597BEA1D5077663541,7D1B71037D27D5597BEA1D5077663541,DD3924C3F35CFC1D7AD5006C710DB029,4

In [145]:
distributor_move.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19422 entries, 0 to 19421
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dt            19422 non-null  object
 1   gtin          19422 non-null  object
 2   prid          19422 non-null  object
 3   sender_inn    19422 non-null  object
 4   receiver_inn  19422 non-null  object
 5   cnt_moved     19422 non-null  int64
dtypes: int64(1), object(5)
memory usage: 910.5+ KB

In [100]:
distributor_move['gtin'].value_counts()

7281136266A60B8BB097E57F2E357C99    235
476D3708FBD4E6B64F81D10BC28EA694    234
1AF3D5B9E053CBDF908FB967FE3543AA    233
C0D57D3B6C262FEFAA76EB74D6EDA3E9    229
0CB732010A7967675A7B20604337636A    226
                                   ...
B816A1D9CA9CE6DED27A5CD222E55EB1      1
EEC9C52C3FEB8E79A730D73C1571C23F      1
F4F97EDC795B0D1D4D94F57BEEDBDB29      1
81F08A3C0297A76BF84A53B5B7338331      1
B077A5035A96D254E740E148CD84B809      1
Name: gtin, Length: 415, dtype: int64

In [101]:
distributor_move['prid'].value_counts()

7D1B71037D27D5597BEA1D5077663541    19421
CD2480BB07FCE7AB6AC3606F454C3B1D        1
Name: prid, dtype: int64

In [102]:
distributor_move['sender_inn'].value_counts()

7D1B71037D27D5597BEA1D5077663541    19422
Name: sender_inn, dtype: int64

In [103]:
distributor_move['cnt_moved'].value_counts()

2        1078
3         984
1         925
6         759
4         577
         ...
7548        1
3586        1
11046       1
1995        1
4028        1
Name: cnt_moved, Length: 1196, dtype: int64

In [109]:
# distributor_move['sender_inn'].fillna('0').unique()

array(['7D1B71037D27D5597BEA1D5077663541'], dtype=object)

In [ ]:
# distributor_move['sender_inn'].fillna('0').unique()

In [110]:
# distributor_move['prid'].fillna('0').unique()

array(['7D1B71037D27D5597BEA1D5077663541',
       'CD2480BB07FCE7AB6AC3606F454C3B1D'], dtype=object)

In [195]:
distributor_move.query("gtin == '7343A8B396B8E0383D62495D625C1C59'")['receiver_inn'].value_counts()

6B8E111AB5B5C556C0AEA292ACA4D88B    67
89F1BFD156A04E3D9B28C7FD6BED4F2F    33
CD2480BB07FCE7AB6AC3606F454C3B1D    27
0FA5EF2B2A8395966B26C672D6D0767D     2
Name: receiver_inn, dtype: int64

In [201]:
distributor_move.query("sender_inn == 'receiver_inn'");

In [199]:
distributor_move['prid'].unique()

array(['7D1B71037D27D5597BEA1D5077663541',
       'CD2480BB07FCE7AB6AC3606F454C3B1D'], dtype=object)

# Other

In [24]:
# products_df['product_name'].astype('category').cat.codes

0         118124
1         115936
2         169961
3         263765
4         132356
           ...
393462    280253
393463    268318
393464     18244
393465    207074
393466    172830
Length: 393467, dtype: int32